

.title {
    font-size: 1.875rem; 
    font-weight: bold;
    margin-bottom: 3rem; 
  }
  
  .table-section {
    margin-bottom: 3rem; 
  }
  
  .form-section {
    margin-bottom: 3rem; 
  }
  
  .form-title {
    font-size: 1.5rem; 
    font-weight: semi-bold;
    margin-bottom: 1rem; 
  }
  